mixin question-mixin(config)
  //- CATEGORY TITLE
  each item in config
    section.spoiler_box
      .spoiler_header.diagnostic_question_header
        .flex.justify-between
          .flex-item--shrink
            h3 #{item.title}
          .flex-item--shrink
            span Points #[strong #{item.counter}] / #{item.tiles.length}
      
      //- CATEGORY ANSWER BLOCKS
      each tile, index in item.tiles
        .spoiler_body
          .diagnostic_question_body
            .block-title.flex.justify-between.align-center
              .flex-item--shrink
                h4 attempt #{index+1} of #{item.tiles.length}
              .flex-item--shrink
                h4 points #[strong 1]
            .flex
              .inner-wrapper.inner-wrapper--answers.flex-item--stretch
                article.diagnostic_question_details.flex.flex--wrap
                  each answer in tile.answersData
                    dl.answer-item
                      dt #{answer.key}
                      each val in answer.val
                        dd #{val}
              .inner-wrapper.inner-wrapper--actions
                button(type="button").g_btn.g_btn--primary Edit